.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  gap: 4rem;
}

.nav ul li {
  cursor: pointer;
}

.nav ul a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--link-hover-color);
  }

  &:hover path {
    fill: var(--link-hover-color);
  }
}
