.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  color: #ffffff;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav button {
  margin-bottom: 0;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 680px) {
  .header {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  .heading {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav .menu {
    justify-content: space-between;
  }
}

@media screen and (max-width: 485px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .session {
    display: none;
  }

  .dropdown {
    display: block;
  }
}
