.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  color: #ffffff;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    color: var(--link-hover-color);
  }

  &:hover path {
    fill: var(--link-hover-color);
  }

  & svg {
    display: none;
  }
}

.nav button {
  margin-bottom: 0;
}

.user {
  color: var(--highlight-color);
}