.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form {
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--background-color-secondary);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #ffffff;
}

.container form h2 {
  text-align: center;
}

.link {
  color: var(--button-color);

  &:hover {
    text-decoration: underline;
  }
}
