.wrapper {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  background-color: var(--highlight-color);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;

  &:hover {
    background-color: #7a9cc0;
  }

  &:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
  }
}
