.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.link {
  color: inherit;
}

.text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.error {
  text-align: center;
  margin-top: 0.3rem;
  color: #ee433d;
}
