.item {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 1.5rem auto;

  gap: 2rem;
  padding: 1rem 1.5rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.thumbnail img {
  min-width: 7rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.about p {
  margin: 0.3rem 0;
}

.description {
  font-style: italic;
}

@media screen and (max-width: 480px) {
  .description {
    display: none;
  }
}
