.quote {
  padding: 2rem 10rem;
  margin-top: 5rem;

  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .quote {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 380px) {
  .quote {
    font-size: 1.5rem;
  }
}
